body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.categoryComponent::-webkit-scrollbar {
  display: none;
}

/* .Figguaa-logo{
  font-size : 23px;
  font-style: 'Berkshire Swash', sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Sen', sans-serif; */
/* } */
